<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Signin Template for Bootstrap</title>

      <link href="<?php echo C('CSS_URL'); ?>bootstrap.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/typo.css/1.1/typo.min.css">
      <link href="<?php echo C('CSS_URL'); ?>signin.css" rel="stylesheet">
    </head>

    <body>
      <div class="container">
          <p>登录失败</p>
      </div>
    </body>
</html>