<include file="Public/Html/header.html" />
<div class="container" style=" padding-top: 50px; ">
    <div class="col-sm-3 col-md-2 sidebar">
        <div class="alert alert-message" style="padding-left: 1px;padding-right:1px; overflow: hidden;">
            <div class="col-xs-12 col-md-12" style="text-align:left; padding-bottom:5px;">学院</div>
            <div class="col-xs-12 col-md-12" style="text-align:right;">
                <select name="a_id" id="a_id">
                    <option value="0">所有学院</option>
                    <volist name="a_list" id="a_list">
                        <option value="{$a_list.a_id}">{$a_list.a_name}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="alert alert-message" style="padding-left: 1px;padding-right:1px; overflow: hidden;">
            <div class="col-xs-12 col-md-12" style="text-align:left; padding-bottom:5px;">课程</div>
            <div class="col-xs-12 col-md-12" style="text-align:right;">
                <select name="cr_id" id="cr_id">
                    <volist name="cr_list" id="cr_list">
                        <option value="{$cr_list.cr_id}">{$cr_list.cr_name}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="alert alert-message" style="padding-left: 1px;padding-right:1px; overflow: hidden;">
            <div class="col-xs-12 col-md-12" style="text-align:left; padding-bottom:5px;">教师</div>
            <div class="col-xs-12 col-md-12" style="text-align:right;">
                <select name="tc_id" id="tc_id">
                    <volist name="tc_list" id="tc_list">
                        <option value="{$tc_list.tc_id}">{$tc_list.tc_name}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="alert alert-message" style="padding-left: 1px;padding-right:1px; overflow: hidden;">
            <div class="col-xs-7 col-md-7">期中成绩</div>
            <div class="col-xs-5 col-md-5">
                <input type="text" name="qzcj" id="qzcj" value="0" style="width:100%;">
            </div>
        </div>
        <div class="alert alert-message" style="padding-left: 1px;padding-right:1px; overflow: hidden;">
            <div class="col-xs-7 col-md-7">期末成绩</div>
            <div class="col-xs-5 col-md-5">
                <input type="text" name="qmcj" id="qmcj" value="0" style="width:100%;">
            </div>
        </div>
        <div class="alert alert-message" style="padding-left: 1px;padding-right:1px; overflow: hidden;">
            <div class="col-xs-7 col-md-7">实验成绩</div>
            <div class="col-xs-5 col-md-5">
                <input type="text" name="sycj" id="sycj" value="0" style="width:100%;">
            </div>
        </div>
        <div class="alert alert-message" style="padding-left: 1px;padding-right:1px; overflow: hidden;">
            <div class="col-xs-7 col-md-7">考勤成绩</div>
            <div class="col-xs-5 col-md-5">
                <input type="text" name="kqcj" id="kqcj" value="0" style="width:100%;">
            </div>
        </div>
        <div class="alert alert-message" style="padding-left: 1px;padding-right:1px; overflow: hidden;">
            <div class="col-xs-7 col-md-7">作业成绩</div>
            <div class="col-xs-5 col-md-5">
                <input type="text" name="zycj" id="zycj" value="0" style="width:100%;">
            </div>
        </div>
        <div class="alert alert-message" style="padding-left: 1px;padding-right:1px; overflow: hidden;">
            <div class="col-xs-12 col-md-12" style="text-align:left; padding-bottom:5px;">开始时间</div>
            <div class="col-xs-12 col-md-12" style="text-align:left;">
                <input type="text" name="start_y" id="start_y" style="width:100%;">年
            </div>
            <div class="col-xs-6 col-md-6" style="text-align:left;">
                <input type="text" name="start_m" id="start_m" style="width:100%;">月
            </div>
            <div class="col-xs-6 col-md-6" style="text-align:left;">
                <input type="text" name="start_d" id="start_d" style="width:100%;">日
            </div>
        </div>
        <div class="alert alert-message" style="padding-left: 1px;padding-right:1px; overflow: hidden;">
            <div class="col-xs-12 col-md-12" style="text-align:left; padding-bottom:5px;">结束时间</div>
            <div class="col-xs-12 col-md-12" style="text-align:left;">
                <input type="text" name="finish_y" id="finish_y" style="width:100%;">年
            </div>
            <div class="col-xs-6 col-md-6" style="text-align:left;">
                <input type="text" name="finish_m" id="finish_m" style="width:100%;">月
            </div>
            <div class="col-xs-6 col-md-6" style="text-align:left;">
                <input type="text" name="finish_d" id="finish_d" style="width:100%;">日
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-sm-offset-3 main">
        <div class="alert alert-success" style="background-color:#8ace57; border-color:#8ace57;">
            <div class="col-xs-6 col-md-4">学号</div>
            <div class="col-xs-6 col-md-4">学院</div>
            <div class="col-xs-6 col-md-4">姓名</div>
        </div>
        <volist name="st_list" id="st_list">
            <div class="alert alert-success select" value="{$st_list.s_id}">
                <div class="col-xs-6 col-md-4">{$st_list.s_user}</div>
                <div class="col-xs-6 col-md-4">{$st_list.a_name}</div>
                <div class="col-xs-6 col-md-4">{$st_list.s_name}</div>
            </div>
        </volist>
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-primary btn-block" href="javascript:void(0)" id="submit_btn" style="color:#ffffff;">提交</a>
        </div>
    </div>
</div>
</body>
<script>
$(document).ready(function() {
    $('#a_id').change(function() {
        var aid = $(this).val();
        $.post('./add/updateAid', {"aid": aid}, function(txt) {
            var res = JSON.parse(txt);
            var tc_txt = "";
            var cr_txt = "";
            for (var key in res['tc_list']) {
                tc_txt += '<option value="' + res['tc_list'][key]['tc_id'] + '">' + res['tc_list'][key]['tc_name'] + '</option>';
            }
            for (var key in res['cr_list']) {
                cr_txt += '<option value="' + res['cr_list'][key]['cr_id'] + '">' + res['cr_list'][key]['cr_name'] + '</option>';
            }
            $('#tc_id').html(tc_txt);
            $('#cr_id').html(cr_txt);
        });
    });
    $('.select').click(function() {
        if($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        } else {
            $(this).addClass('selected');
        }
    });
    $('#submit_btn').click(function() {
        var cr_id = $('#cr_id').val();
        var tc_id = $('#tc_id').val();
        var qzcj = $('#qzcj').val();
        var qmcj = $('#qmcj').val();
        var sycj = $('#sycj').val();
        var kqcj = $('#kqcj').val();
        var zycj = $('#zycj').val();
        var start_y = $('#start_y').val();
        var start_m = $('#start_m').val();
        var start_d = $('#start_d').val();
        var finish_y = $('#finish_y').val();
        var finish_m = $('#finish_m').val();
        var finish_d = $('#finish_d').val();
        var st_list = [];
        var num = 0;
        $('.selected').each(function(){
            st_list[num ++] = $(this).attr('value');
        });
        $.post('./add/addClass',
            {
                "cr_id": cr_id,
                "tc_id": tc_id,
                "qzcj": qzcj,
                "qmcj": qmcj,
                "sycj": sycj,
                "kqcj": kqcj,
                "zycj": zycj,
                "start_y": start_y,
                "start_m": start_m,
                "start_d": start_d,
                "finish_y": finish_y,
                "finish_m": finish_m,
                "finish_d": finish_d,
                "st_list": st_list
            },
            function(txt) {
                var res = JSON.parse(txt);
                if(res['status'] == -1) {
                    alert("输入成绩比例有误！");
                } else if(res['status'] == 0) {
                    alert("插入出错");
                } else {
                    alert("添加课程成功！");
                    window.location.href="/";
                }

        });
    });
});
</script>
</html>